@{
    var aaa=ViewBag.Emp;
}

<p>the name is: @aaa.name</p>
<p>the age is: @aaa.age</p>
<p>the address is: @aaa.address</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
